<link rel="stylesheet" href="{{ "vendor/asciinema-player/asciinema-player.css" | relURL }}">
<div style="margin: 1.5rem 0; width: 100%; max-width: 850px;">
  <div id="demo-player" data-cast="{{ "demo.cast" | relURL }}"></div>
</div>
<script src="{{ "vendor/asciinema-player/asciinema-player.min.js" | relURL }}"></script>
<script>
  (function() {
    var demoEl = document.getElementById('demo-player');
    if (demoEl && window.AsciinemaPlayer) {
      AsciinemaPlayer.create(demoEl.dataset.cast, demoEl, {
        speed: 2.5,
        idleTimeLimit: 2,
        autoPlay: true,
        loop: true,
        preload: true,
        fit: 'width'
      });
    }
  })();
</script>
